<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="assets/paw-solid.svg" />
  <title>udomi.ba - Registration</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <div class="row align-items-center mb-5">
            <div class="col-md-6 col-lg-5 d-flex justify-content-end">
                <img src="assets/logos/logo.png" width="150" class="mr-5">
            </div>
            <div class="col-md-6 col-lg-7 text-left text-white">
                <h1 class="display-4 fw-bolder">udomi.ba</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-4" id="forsm1">
                    <h2 class="mb-4 text-center text-black">Register</h2>
                    <div class="form-data row" v-if="!submitted">
                        <div class="forms-inputs mb-4 col-6"> <span>Ime</span> <input autocomplete="off" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true" style="width: 100%;">
                            <div class="invalid-feedback">A valid email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4 col-6"> <span>Prezime</span> <input autocomplete="off" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true" style="width: 100%;">
                            <div class="invalid-feedback">A valid email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4"> <span>Email</span> <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true" style="width: 100%;">
                            <div class="invalid-feedback">A valid Email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4"> <span>Username</span> <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true" style="width: 100%;">
                            <div class="invalid-feedback">A valid Username is required!</div>
                        </div>
                        <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true" style="width: 100%;">
                            <div class="invalid-feedback">Password must be 8 characters!</div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6 text-center">
                                <label class="radio-container m-l-30">Male
                                    <input type="radio" checked="checked" name="gender">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 text-center">
                                <label class="radio-container">Female
                                    <input type="radio" name="gender">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        
                        
                        <div class="mb-3 col-12">
                            <button onclick="window.location.href='login.html'" class="btn btn-dark w-100" style="height: 50px">Register</button>
                        </div>
                    </div>
                    <!--<div class="success-data" v-else>
                        <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <span class="text-center fs-1">You have been logged in <br> Successfully</span> </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

  <!-- Bootstrap JS and Popper.js (optional, for some Bootstrap components) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>