<div class="container-fluid full-page-container">
    <!-- Header-->
    <header class="bg-main py-4">
        <div class="container px-4 px-lg-5 my-1">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5 d-flex justify-content-end">
                    <img src="assets/media/logos/logo.png" width="150" class="mr-5">
                </div>
                <div class="col-md-6 col-lg-7 text-left text-white">
                    <h1 class="display-4 fw-bolder">udomi.ba</h1>
                    <p class="lead fw-normal text-white-50 mb-0 ms-4">Jer svi zaslužuju dom</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-4">
        <div id="animal-cards-container" class="container px-4 px-lg-5 mt-5">
            
        </div>
    </section>
</div>
