<!-- Product section-->
<section class="py-4">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          id="picture"
          class="card-img-top mb-3 mb-md-0"
          src="assets/media/images/homepageCardImages/auraCard.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <h1 id="#listingName" class="display-5 fw-bolder">AURA</h1>
        <a
          href="profile.html"
          class="fs-5 mb-2"
          style="text-decoration: none; color: inherit"
        >
          <span id="username"></span>
        </a>
        <hr class="hr" />
        <div class="lead">
          <b>Ime:</b> <span id="name"></span><br />
          <b>Pasmina:</b> <span id="breed"></span><br />
          <b>Starost:</b> <span id="age"></span><br />
          <b>Tezina:</b> <span id="weight"></span><br />
          <b>Lokacija:</b> <span id="location"></span><br />
          <b>Vakcinisan:</b> <span id="vaccinated"></span><br />
          <b>Cipovan:</b> <span id="chipped"></span>
          <hr class="hr" />
        </div>
        <p id="additionalDetails" class="lead"></p>
        <div class="d-flex">
          <a
            href="https://www.instagram.com/"
            class="btn btn-outline-dark flex-shrink-0"
            role="button"
            target="_blank"
          >
            <i class="bi-house-fill me-1"></i>
            <b>UDOMI</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-0 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <hr class="hr" />
    <h2 class="fw-bolder mb-4">Preporuceni oglasi</h2>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="assets/media/images/homepageCardImages/labrador.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Kala</h5>
              <!-- Product additional info-->
              Labrador<br />
              5 godina / 35kg
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn cardbtn-outline-dark mt-auto" href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="assets/media/images/homepageCardImages/pug.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Edgar</h5>
              <!-- Product additional info-->
              Tops<br />
              4 godine / 1.5kg
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn cardbtn-outline-dark mt-auto" href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="assets/media/images/homepageCardImages/zlatniretriver.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Cookie</h5>
              <!-- Product additional info-->
              Zlatni retriver<br />
              11 godina / 33kg
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn cardbtn-outline-dark mt-auto" href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="assets/media/images/homepageCardImages/rotveiler.jpeg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Roti</h5>
              <!-- Product additional info-->
              Rotvajler<br />
              3 godine / 37kg
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn cardbtn-outline-dark mt-auto" href="#">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./services/ItemPageService.js"></script>
<script>
  ItemPageService.init();
</script>
