<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-sm-3 p-5 bg-main text-white"></div>
    <div class="col-sm-6 p-5 bg-white text-black">
      <div class="row p-3">
        <div class="col-sm-6">
          <div class="d-flex flex-column h-100">
            <div class="mb-auto">
              <p
                id="username"
                class="lead fw-bold text-center"
                style="font-size: 30px"
              ></p>
              <p id="name" class="text-center mb-1"></p>
              <p id="email" class="text-center mb-1"></p>
              <!-- <p class="text-center">Broj oglasa: 1</p> -->
            </div>
            <div class="mt-auto">
              <button class="btn btn-outline-dark" type="button">
                <b>EDIT</b>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center justify-content-center">
          <img
            src="assets/media/images/profile/blank.png"
            class="rounded-circle img-fluid"
            style="width: 220px; height: 220px"
          />
        </div>
      </div>
      <hr class="hr" />
      <div id="animal-cards-container" class="container px-4 px-lg-5 mt-5">
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <button
              type="button"
              class="btn btn-custom w-100 h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@getbootstrap"
            >
              <b>Add animal</b>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 p-5 bg-main text-dark"></div>
  </div>
</div>

<!-- form -->

<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-whatever="@getbootstrap"
>
  Open modal for @getbootstrap
</button> -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="add-animal-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add animal</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="listing-title" class="col-form-label"
              >Listing Title:</label
            >
            <input
              type="text"
              class="form-control"
              id="listing_title"
              name="listingName"
            />
          </div>
          <div class="mb-3">
            <label for="animal-name" class="col-form-label">Animal Name:</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>
          <div class="mb-3">
            <label for="animal-type" class="col-form-label">Animal Type:</label>
            <input
              type="text"
              class="form-control"
              id="type"
              name="animalType"
            />
          </div>
          <div class="mb-3">
            <label for="animal-breed" class="col-form-label"
              >Animal Breed:</label
            >
            <input type="text" class="form-control" id="breed" name="breed" />
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="animal-age" class="col-form-label">Animal Age:</label>
              <input type="text" class="form-control" id="age" name="age" />
            </div>
            <div class="col">
              <label for="animal-weight" class="col-form-label"
                >Animal Weight:</label
              >
              <input
                type="text"
                class="form-control"
                id="weight"
                name="weight"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="col-form-label">Location:</label>
            <!-- Assuming a regular text field for location -->
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
            />
            <!-- Alternatively, you can replace the text field with a dropdown of Bosnian and Herzegowinian cities -->
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="vaccinated"
                  name="vaccinated"
                />
                <label class="form-check-label" for="vaccinated"
                  >Vaccinated</label
                >
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="chipped"
                  name="chipped"
                />
                <label class="form-check-label" for="chipped">Chipped</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="male"
                  name="gender"
                  value="male"
                />
                <label class="form-check-label" for="male">Male</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="female"
                  name="gender"
                  value="female"
                />
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="mixed"
                  name="gender"
                  value="mixed"
                />
                <label class="form-check-label" for="mixed">Mixed</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="additional-details" class="col-form-label"
              >Additional Details:</label
            >
            <textarea
              class="form-control"
              id="additional_details"
              name="additionalDetails"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="cancel"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./services/ProfileService.js"></script>
<script>
  ProfileService.init();
  FormValidation.validate(
    "#add-animal-form",
    {
      listingName: {
        required: true,
      },
      animalType: {
        required: true,
      },
    },
    {
      listingName: {
        required: "Listing name is required",
      },
      animalType: {
        required: "Animal type is required",
      },
    },
    function (data) {
      //zbog nekog razloga ne smijem promjeniti id od modal-a, neki error sa backdropom
      Utils.block_ui("#exampleModal");
      data["userId"] = localStorage.getItem("userId"); //ovjde konverzija u int ne radi
      console.log(data);

      //url, data, callback, error_callback
      RestClient.post(
        "add_animal.php",
        data,
        function (response) {
          Utils.unblock_ui("#exampleModal");
          $("#exampleModal").modal("toggle");
        },
        function (error) {
          toastr.error(error);
        }
      );
    }
  );
</script>
