<section class="py-4">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center"
    >
      <div class="col-md-12">
        <table
          id="tbl_users"
          class="table table-striped"
          style="width: 100% !important"
        >
          <thead>
            <tr>
              <th data-name="id">id</th>
              <th data-name="first_name">First Name</th>
              <th data-name="surname">Last Name</th>
              <th data-name="email">Email</th>
              <th data-name="username">Username</th>
              <th data-name="password">Password</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center"
    >
      <div class="col-md-12">
        <table
          id="tbl_animals"
          class="table table-striped"
          style="width: 100% !important"
        >
          <thead>
            <tr>
              <th data-name="action">Actions</th>
              <th data-name="id">id</th>
              <th data-name="user_id">user_id</th>
              <th data-name="listing_title">Listing Title</th>
              <th data-name="name">Name</th>
              <th data-name="type">Typee</th>
              <th data-name="location">Location</th>
              <th data-name="breed">Breed</th>
              <th data-name="age">Age</th>
              <th data-name="weight">Weight</th>
              <th data-name="gender">Gender</th>
              <th data-name="vaccinated">Vac.</th>
              <th data-name="chipped">Chip.</th>
              <th data-name="additional_info">Additional Info</th>
              <th data-name="image_path">Image Path</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script src="./services/AdminService.js"></script>
<script>
  $(document).ready(function () {
    new DataTable("#tbl_users");
    new DataTable("#tbl_animals");

    AdminService.reload_animals_datatable();
    AdminService.reload_users_datatable();
    AdminService.validate();
  });
</script>

<!-- Nidje veze, isti modal ko add_animal_listing. Morao sam ga staviti ovdje i promjeniti id jer inace ne radi. -->
<div
  class="modal fade"
  id="edit_listing_modal"
  tabindex="-1"
  aria-labelledby="addListingLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit_listing_form">
        <div class="modal-header">
          <h5 class="modal-title" id="addListingLabel">Edit Animal Listing</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="id" name="id" />
          <div class="mb-3">
            <label for="listing-title" class="col-form-label"
              >Listing Title:</label
            >
            <input
              type="text"
              class="form-control"
              id="listing_title"
              name="listing_title"
            />
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="location" class="col-form-label">Location:</label>
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
              />
            </div>
            <div class="col">
              <label for="name" class="col-form-label"
                >Animal Name:</label
              >
              <input type="text" class="form-control" id="name" name="name" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="animal-type" class="col-form-label"
                >Animal Type:</label
              >
              <select class="form-select" id="type" name="type">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="rabbit">Rabbit</option>
                <option value="rabbit">Hamster</option>
                <option value="rabbit">Guinea pig</option>
                <option value="rabbit">Fish</option>
                <option value="rabbit">Bird</option>
                <option value="rabbit">Lizard</option>
                <option value="rabbit">Snake</option>
                <option value="rabbit">Other</option>
              </select>
            </div>
            <div class="col">
              <label for="animal-breed" class="col-form-label"
                >Animal Breed:</label
              >
              <input type="text" class="form-control" id="breed" name="breed" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="animal-age" class="col-form-label">Animal Age:</label>
              <input
                type="text"
                class="form-control"
                placeholder="years"
                id="age"
                name="age"
              />
            </div>
            <div class="col">
              <label for="animal-weight" class="col-form-label"
                >Animal Weight:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="kg"
                id="weight"
                name="weight"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="male"
                  name="gender"
                  value="male"
                />
                <label class="form-check-label" for="male">Male</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="female"
                  name="gender"
                  value="female"
                />
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="mixed"
                  name="gender"
                  value="mixed"
                />
                <label class="form-check-label" for="mixed">Mixed</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="vaccinated"
                  name="vaccinated"
                />
                <label class="form-check-label" for="vaccinated"
                  >Vaccinated</label
                >
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="chipped"
                  name="chipped"
                />
                <label class="form-check-label" for="chipped">Chipped</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="additional-details" class="col-form-label"
                >Additional Information:</label
              >
              <textarea
                class="form-control"
                id="additional_info"
                name="additional_info"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="cancel"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            form="edit_listing_form"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="edit_user_modal"
  tabindex="-1"
  aria-labelledby="addListingLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit_user_form" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="addListingLabel">Edit Animal Listing</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="users_pk" name="users_pk" />
          <div class="row mb-3">
            <div class="col">
              <label for="username" class="col-form-label">Username:</label>
              <input
                autocomplete="off"
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>
            <div class="col">
              <label for="email" class="col-form-label">Email:</label>
              <input
                autocomplete="off"
                type="text"
                class="form-control"
                id="email"
                name="email"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="user_name" class="col-form-label">Name:</label>
              <input
                autocomplete="off"
                type="text"
                class="form-control"
                id="name"
                name="name"
              />
            </div>
            <div class="col">
              <label for="surname" class="col-form-label">Surname:</label>
              <input
                autocomplete="off"
                type="text"
                class="form-control"
                id="surname"
                name="surname"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="password" class="col-form-label">Password:</label>
              <input
                autocomplete="off"
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="repeat_password" class="col-form-label"
                >Repeat password:</label
              >
              <input
                autocomplete="off"
                type="password"
                class="form-control"
                id="repeat_password"
                name="repeat_password"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" form="edit_user_form">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
